<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     Team Name:<input type="text" name="name" id="name"></br>
     Coach:<input type="text" name="coach" id="coach"></br>
     Point Guard:<input type="text" name="pg" id="point_guard"></br>
     Shooting Guard:<input type="text" name="sg" id="shooting_guard"></br>
     Small Forward:<input type="text" name="sf" id="small_forward"></br>
     Power Forward:<input type="text" name="pf" id="power_forward"></br>
     Center:<input type="text" name="c" id="center"></br>
     <input type="submit" value="Submit">
   </form>
 </body>
</html>
